<section id="services" class="section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row justify-conent-center">

      <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
        <div class="box">
          <h4 class="title">Precio local de cacao</h4>
          <!-- <p class="description"> -->
            <canvas id="Chart_price_local" width="400" height="400"></canvas>
          <!-- </p> -->
        </div>
      </div>

      <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
        <div class="box">
          <h4 class="title">Precio internacional</h4>
         <ul>
           <li><a href="">Bolsa de Londres</a></li>
           <li> <a href="">Bolsa de New York</a></li>
           <li> <a href="">Organización Internacional del Cacao</a></li>
         </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
        <div class="box">
          <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
        <div class="box">
          <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
      </div> -->

    </div>
  </div>
</section>
