<!-- ======= Intro Section ======= -->
<app-intro></app-intro>
<!-- End Intro Section -->
<main [attr.id]="'main'">
  <!-- ======= About Section ======= -->
      <section id="about">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h3>Sobre Nosotros</h3>
            <p>
              Ofrecemos datos de los principales organismos oficiales, de las
              empresas, de los productores de cacao dominicano y de las
              instituciones que son referencias mundiales.
            </p>
          </header>

          <div class="row about-container">
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                Cacao RD es una guía que contiene todas las informaciones puntuales
                sobre el cacao dominicano. Informa al público nacional e
                internacional de las estadísticas, ofertas de negocios y de
                producción, noticias y más, y sirve de enlace entre los productores,
                exportadores, industrias e instituciones vinculadas al área.
              </p>
            </div>

            <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
              <img
                id="about-img"
                src="assets/img/cocoa-re.jpg"
                class="img-fluid"
                alt=""
              />
              <!-- assets/img/about-img.svg -->
            </div>
          </div>

          <div id="rd_es" class="row about-extra">
            <div class="col-lg-12" data-aos="fade-right">
              <img src="assets/img/RD-es-0.png" class="img-fluid" alt="premios" />
            </div>

            <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
              <h4>República Dominicana es:</h4>
              <p class="justify_p">
                Un productor con más de 200 años de experiencia y más de 60 años
                exportando grandes cantidades de forma ininterrumpida. EL mejor
                productor y mayor exportador de cacao orgánico del mundo. Productor
                de cacao fino o de aroma, reconocido en el Convenio Internacional
                del Cacao 2010, ya que el 85% de sus plantaciones están formadas por
                material genético de alta calidad, lo cual le ayuda a generar un
                sabor agradable, dulzura, acidez, fragancia, olor, astringencia,
                textura…. y más.
              </p>
              <div class="col-lg-6" data-aos="fade-right">
                <img src="assets/img/RD-es-1.png" class="img-fluid" alt="" />
              </div>
              <p class="justify_p">
                Uno de los 10 principales países exportadores de cacao del mundo.<br />
                Uno de los 5 mejores productores de cacao del mundo.<br />
                Uno del grupo de los 15 países del mundo productores de cacao
                gourmet.
              </p>
              <p>
                RD exporta cacao a más de 30 países, dentro de los cuales los 10
                principales son:
              </p>
              <img src="assets/img/india_flag.png" alt="" />
              <img src="assets/img/united_states_flag.png" alt="" />
              <img src="assets/img/indonesia_flag.png" alt="" />
              <img src="assets/img/spain_flag.png" alt="" />
              <img src="assets/img/netherlands_flags.png" alt="" />
              <img src="assets/img/japan_flag.png" alt="" />
              <img src="assets/img/mexico_flag.png" alt="" />
              <img src="assets/img/italy_flag.png" alt="" />
              <img src="assets/img/belgium_flag.png" alt="" />
            </div>

            <!-- countries -->

            <!-- end countries -->

            <!-- <div class="row about-extra">
                  <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <img src="assets/img/" class="img-fluid" alt="">
                  </div>
                </div> -->
          </div>
        </div>
      </section>

  <app-rdes></app-rdes>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <app-price></app-price>

  <!-- services end -->

  <!-- cotization dolar -->
  <section id="cotization_dolar" class="section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>COTIZACÍON DEL DOLAR AMERICANO</h3>
      </header>
      <div data-aos="zoom-in" data-aos-delay="200">
        <embed src="https://www.infodolar.com.do/" type="" />
      </div>
    </div>
  </section>

  <div class="portfolio-details-container">
    <div class="owl-carousel portfolio-details-carousel">
      <img
        src="assets/img/portfolio/portfolio-details-1.jpg"
        class="img-fluid"
        alt=""
      />
      <img
        src="assets/img/portfolio/portfolio-details-2.jpg"
        class="img-fluid"
        alt=""
      />
      <img
        src="assets/img/portfolio/portfolio-details-3.jpg"
        class="img-fluid"
        alt=""
      />
    </div>

    <div class="portfolio-info">
      <h3>Project information</h3>
      <ul>
        <li><strong>Category</strong>: Web design</li>
        <li><strong>Client</strong>: ASU Company</li>
        <li><strong>Project date</strong>: 01 March, 2020</li>
        <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
      </ul>
    </div>
  </div>

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="clearfix">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2 class="section-title">DIRECTORIO del cacao Dominicano</h2>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            <li data-filter=".filter-producers">Productores</li>
            <li data-filter=".filter-exporter">Exportadores</li>
            <li data-filter=".filter-industry">Industrias</li>
            <li data-filter=".filter-commerce">Comercios</li>
            <li data-filter=".filter-institution">Instituciones Públicas</li>
            <li data-filter=".filter-tecnical-area">Áreas Técnicas</li>
            <li data-filter=".filter-various">Diversos</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <!-- producers begin-->
        <div class="col-lg-4 col-md-6 portfolio-item filter-producers">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/logo-asoprocai.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">APROCACI</a></h4>
              <p>Asociación de Productores de Cacao, Inc.</p>
              <div>
                <a
                  href="assets/img/clients/logo-asoprocai.png"
                  data-gall="portfolioGallery"
                  title="APROCACI - Asociación de Productores de Cacao, Inc"
                  class="venobox link-preview"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-producers">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/logo-agro-cacao.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Agrocacao</a></h4>
              <p>Bloque Agrocacao, SRL</p>
              <div>
                <a
                  href="assets/img/clients/logo-agro-cacao.png"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="AGROCACAO - Bloque Agrocacao, SRL"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-producers">
          <div class="portfolio-wrap">
            <img src="assets/img/interior-cacao.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>
                <a href="portfolio-details.html">Agro Hacienda Mejía, SRL</a>
              </h4>
              <p>Agro Hacienda Mejía Castillo y Asociado, SRL</p>
              <div>
                <a
                  href="assets/img/interior-cacao.jpg"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="AGRO HACIENDA MEJÍA, SRL"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!-- producers end -->

        <!-- exporters -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-exporter">
          <div class="portfolio-wrap">
            <img src="assets/img/clients/rizek.png" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Rizek Cacao</a></h4>
              <p>Rizek Cacao</p>
              <div>
                <a
                  href="assets/img/clients/rizek.png"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Rizek Cacao, C. por A."
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-exporter">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/Logo-Conacado.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>
                <a href="portfolio-details.html">Conacado Agroindustrial</a>
              </h4>
              <p>Un cacao excelente para mercado exigentes</p>
              <div>
                <a
                  href="assets/img/clients/Planta-Conacado.png"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Conacado Agroindustrial"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-exporter">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/logo-roi-agrocacao.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Roig Agrocacao</a></h4>
              <p></p>
              <div>
                <a
                  href="assets/img/clients/Rroig.jpg"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Roig Agrocacao"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-exporter">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/cooproagro.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">COOPROAGRO, INC</a></h4>
              <p>COOPROAGRO, INC</p>
              <div>
                <a
                  href="assets/img/clients/cooproagroexport.jpeg"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="COOPROAGRO, INC"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-exporter">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/asbpcommodities.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">ASBP Agroindustrial</a></h4>
              <p>ASBP Agroindustrial Unidas, SRL</p>
              <div>
                <a
                  href="assets/img/clients/abspcommodities-product.jpg"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="ASBP Agroindustrial Unidas, SRL"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!-- exporters end -->

        <!-- insdustry -->

        <div class="col-lg-4 col-md-6 portfolio-item filter-industry">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/xocolat_logo.png"
              class="img-fluid"
              alt=""
            />

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">XCOLAT</a></h4>
              <p>Chocolates (Diana Munne)</p>
              <div>
                <a
                  href="assets/img/clients/xocolat_logo.png"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Web 2"
                  ><i class="ion ion-eye"> </i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-industry">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/logo-cortes.jpeg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Cortés Hermanos</a></h4>
              <p>Cortés Hermanos</p>
              <div>
                <a
                  href="assets/img/clients/cortes-productos.png"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Cortes Hermanos"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- indistry end -->

        <!-- Commerse -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-commerce">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/logo-cortes.jpeg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Chocobike Cortés</a></h4>
              <p>www.corteshermanos.com</p>
              <div>
                <a
                  href="assets/img/clients/cortew-chocolatada-products.png"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Chocobike Cortés"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-commerce">
          <div class="portfolio-wrap">
            <img
              src="assets/img/clients/logo-mercasid.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Mercasid</a></h4>
              <p>Mercasid</p>
              <div>
                <a
                  href="assets/img/clients/productos-mercasid.jpg"
                  class="venobox link-preview"
                  data-gall="portfolioGallery"
                  title="Mercasid"
                  ><i class="ion ion-eye"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="link-details"
                  title="Más detalles"
                  ><i class="ion ion-android-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!-- commerse end -->
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->

  <!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Personalidades</h3>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
          <div class="member">
            <img
              src="assets/img/personalities/Gregorio-rivas.png"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Gregorio Rivas</h4>
                <span>Propulsor</span>
                <div class="social">
                  <!-- <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>

                  <a href=""><i class="fa fa-linkedin"></i></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
          <div class="member">
            <img
              src="assets/img/personalities/ignacio-cortes.png"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Ignacio Cortés Golpi</h4>
                <span>Persona destacada</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
          <div class="member">
            <img
              src="assets/img/personalities/jose-fernandez.png"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>José Fernández Badia</h4>
                <span>Persona destacada</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
          <div class="member">
            <img
              src="assets/img/personalities/juan-barcelo.png"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Juan Barceló Sala</h4>
                <span>Persona destacada</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
          <div class="member">
            <img
              src="assets/img/personalities/juan-cuello.png"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Juan Barceló Sala</h4>
                <span>Persona destacada</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>

                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Nuestros Clientes</h3>
        <p>Se parte de esta comunidad.</p>
      </div>

      <div
        class="row no-gutters clients-wrap clearfix"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/rizek.png" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/ferquido.jpeg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/fersan.png" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/logo-cortes.jpeg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/logo-munne.jpeg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/logo-agro-cacao.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/logo-asoprocai.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/logo-roi-agrocacao.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h3>Contactenos</h3>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1413.1103258346861!2d-69.93518653623973!3d18.44556996124932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5638d5eb176bb%3A0x1d49144256f3c53d!2sPlaza%20independencia!5e0!3m2!1ses-419!2sdo!4v1609087258923!5m2!1ses-419!2sdo"
              width="100%"
              height="312px"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-5 info">
              <i class="ion-ios-location-outline"></i>
              <p>
                Av. Independencia Km. 9 1/2, Plaza Independencia, Buenos Aires
                del Mirador, Santo Domingo, Distrito Nacional
              </p>
            </div>
            <div class="col-md-4 info">
              <i class="ion-ios-email-outline"></i>
              <p>info@cacao-rd.net</p>
            </div>
            <div class="col-md-3 info">
              <i class="ion-ios-telephone-outline"></i>
              <p>+1(829)659-6364 +1(829)393-9310</p>
            </div>
          </div>

          <div class="form">
            <form
              action="../forms/contact.php"
              method="post"
              role="form"
              class="php-email-form"
            >
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Nombre"
                    data-rule="minlen:4"
                    data-msg="Debe ingresar su nombre"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Email"
                    data-rule="email"
                    data-msg="Debe ingresar un email valido"
                  />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Asunto"
                  data-rule="minlen:4"
                  data-msg="Debe completar este campo"
                />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  data-rule="required"
                  data-msg="Favor de escribir el mensaje"
                  placeholder="Escriba su mensaje aquí"
                ></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Su mensaje fue enviado. Gracias por contactarnos!
                </div>
              </div>
              <div class="text-center">
                <button type="submit" title="Send Message">
                  Enviar Mensaje
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-info">
          <h3>CACAO-RD <img src="assets/img/Logo-cacao-rd.png" alt="" /></h3>
          <p class="justify_p">
            Cacao RD es una guía que contiene todas las informaciones puntuales
            sobre el cacao dominicano. Informa al público nacional e
            internacional de las estadísticas, ofertas de negocios y de
            producción, noticias y más, y sirve de enlace entre los productores,
            exportadores, industrias e instituciones vinculadas al área.
            Ofrecemos datos de los principales organismos oficiales, de las
            empresas, de los productores de cacao dominicano y de las
            instituciones que son referencias mundiales.
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Enlaces útiles</h4>
          <ul>
            <li><a href="#">INICIO</a></li>
            <li><a href="#">SOBRE NOSOTROS</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">TERMINOS DEL SERVICIO</a></li>
            <li><a href="#">POLITICAS DE PRIVACIDAD</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contacto</h4>
          <p>
            Av. Independencia Km. 9 1/2<br />
            Buenos Aires del Mirador, Santo Domingo, Distrito Nacional<br />
            República Dominicana <br />
            <strong>Teléfono:</strong> +1 (809)659-6364<br />
            <strong>Email:</strong> info@cacao-rd.net<br />
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Boletin</h4>
          <p>
            Suscribase a nuestro boletin, aquí lo mantedremos informado de todos
            las actualizaciones sobre el comportamiento del precio del cacao
            local e internacional. Eventos entre otros
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribirse"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>cacao-rd 2020</strong>. Todos los derechos
      reservados
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
