<section id="about">
    <div class="container" data-aos="fade-up">
        <section id="rd_es_cacao" class="section-bg">
          <div class="container" data-aso="zoom-in">

            <header class="section-header">
              <h3>RD</h3>
            </header>

            <div class="row justify-content-center">
              <div class="col-lg-8">

                <div class="owl-carousel rd_es_cacao-carousel">

                  <div class="rd_es_cacao-item">
                    <img src="../assets/img/cacao-sanchez.png" class="rd_es_cacao-img" alt="">
                    <h3>CACAO SÁNCHEZ</h3>
                    <!-- <h4>Ceo &amp; Founder</h4> -->
                    <p>
                      Es la denominación de origen del cacao Dominicano, independientemente de cual sea su tipo origen de tipo organoléptico. El mismo viene dado porque las exportaciones de mayor escala del producto originario, durante un época importante en el desarrollo de la producción y exportación del cacao, en nuestro país, eran cargado en el puerto de Sánchez, provincia Samaná.
                    </p>
                  </div>

                  <div class="rd_es_cacao-item">
                    <img src="assets/img/cacao-hisoaniola.png" class="rd_es_cacao-img" alt="">
                    <h3>CACAO HISPANIOLA</h3>
                    <!-- <h4>Designer</h4> -->
                    <p>
                      Se refiere al cacao (independientemente de cual sea su tipo origen de tipo organoléptico) que es fermentado antes de secar, produciendo así un grano entero de cacao puro. Las dos variedades alcanzan su máxima calidad con el procesamiento de forma orgánica en un 100%.
                    </p>
                  </div>

                  <div class="rd_es_cacao-item">
                    <img src="assets/img/cacao-secador.png" class="rd_es_cacao-img" alt="">
                    <h3>RD PRODUJO EN EL 2019</h3>
                    <p>
                      74,487.68 toneladas métricas de cacao.
                    </p>
                  </div>

                  <div class="rd_es_cacao-item">

                    <img src="assets/img/sanchez-cortes-cacao.png" class="rd_es_cacao-img" alt="">
                    <h3>RD EXPORTÓ EN EL 2020</h3>
                    <p>
                      69,490.43 toneladas métricas de cacao a más de 20 países en todo el mundo, por un valor de US$200,247,525.98
                    </p>
                  </div>

                  <div class="rd_es_cacao-item">
                    <img src="assets/img/tierra-cacao.png" class="rd_es_cacao-img" alt="">
                    <h3>REPÚBLICA DOMINICANA TIENE</h3>

                    <p>
                      Alrededor de 2,4 millones de tareas (150,000 hectáreas) sembradas de cacao. <br>
                      Más de 40,000 productores. <br>
                      Más  36,000 fincas registradas. <br>
                      Más de 6,600 fincas de cacao orgánico, en su mayoría certificadas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end countries -->


    </div>
</section>
