<section [attr.id]="'intro'" class="clearfix">
  <div class="container" data-aos="fade-up">

    <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="assets/img/Logo-cacao-rd.png" alt="" class="img-fluid">
      <!-- assets/img/intro-img.svg -->
    </div>

    <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>SOMOS<br><span>UNA SOLUCION</span><br>para llevar su cosecha, su producto!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Sobre nosotros</a>
        <a href="#services" class="btn-services scrollto">Precios del cacao</a>
      </div>
    </div>

  </div>
</section>
